@import '../modules/colors';

$font: Roboto, sans-serif;

.filterInput,
.formFields input {
  border: none;
  outline: none;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  background: $lightTealColor;
  padding-left: 15px;
  font-family: $font;
}