@import '../modules/colors';

$font: Roboto, sans-serif;

.filterInput,
.formFields input {
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  background: $lightTealColor;
  padding: 0 15px 0 15px;
  font-family: $font;
}

.filterInput:focus,
.formFields input:focus {
  outline: 1px solid $darkTealColor;
}