@import '../modules/colors';

$font: Roboto, sans-serif;

body {
  font: 100% $font;
  color: $blackColor;
}

%redText {
  color: $darkRedColor;
}

%whiteText {
  color: $whiteColor;
}

%boldText {
  font-weight: bold;
}
