$blackColor: #5A6673;
$whiteColor: #FFFFFF;
$redColor: #FF7F7F;
$darkRedColor: #CC6666;
$lightTealColor: #E5F3F2;
$tealColor: #B3D9D9;
$darkTealColor: #629B96;
$darkestTealColor: #006666;
$lightYellow: #fffee0;